# Auto detect text files and perform LF normalization
* text=auto

# Force LF for shell scripts and cross-platform configs
*.sh text eol=lf
*.lua text eol=lf
*.el text eol=lf
*.toml text eol=lf
*.yml text eol=lf